<!-- START CONTENT -->
    <section id="content">

            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper">
                <!-- Search for small screen -->
                <div class="header-search-wrapper grey hide-on-large-only">
                    <i class="mdi-action-search active"></i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <h5 class="breadcrumbs-title">Configuration</h5>
                            <ol class="breadcrumbs">
                                <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                                <li class="active">Changer mon mot de passe</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->            

            <div class="section">
                    <div class="row">&nbsp;</div> 

                    <div class="row">
                        <div class="col s1">&nbsp;</div>  
                        <div class="col s10">    
                            <div class="row cadreSaisie">
                                <div id="table-datatables">
                                    <div class="row">
                                        <div class="col s12">
											{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
											    {{ form_widget(form) }}
											    <div>
											        <button type="submit" class="btn cyan waves-effect waves-light" >Valider</button>
											    </div>
											{{ form_end(form) }}
										</div>
                                    </div>
                                    
                                </div>            
                            </div>                          
                        </div>      
                        <div class="col s1">&nbsp;</div>  
                    </div>
                </div>      
            </div>	